@charset "UTF-8";
body{
    font-family: 'Montserrat';
    /* background-color: #eceef0; */
    background-color: #f0f4f8;
}
body.no-scroll{
    overflow: hidden;
}
.fadeIn{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.fadeIn.active {
    opacity: 1;
    transform: translateY(0);
}

/* 全ページ共通のヘッダー */
header{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;
    .logo{
        height: 50px;
        margin-left: 10px;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span{
            font-size: 20px;
            color: #333333;
        }
        img{
            height: 30px;
        }
    }
}

@media screen and (max-width:990px) {
    #header-nav{
        display: none;
    }
}

#header-hamburger{
    position: relative;
    .span-container{
        width: 25px;
        height: 25px;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        z-index: 90;
        span{
            width: 100%;
            height: 2px;
            background: #333333;
            transition: all 250ms ease-out;
            transform-origin: 0 0;
        }
    }
    #checkbox{
        width: 25px;
        height: 25px;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        z-index: 100;
        cursor: pointer;
        &:checked ~ .span-container span:nth-last-child(1){
            transform: rotate(-45deg) translate(-1px, 0px);
        }
        &:checked ~ .span-container span:nth-last-child(2){
            transform: rotate(0deg) scale(0.2, 0.2);
            opacity: 0;
        }
        &:checked ~ .span-container span:nth-last-child(3){
            transform: rotate(45deg) translate(0px, -1px);
        }
        &:checked ~ #nav-hamburger {
            opacity: 1;
            visibility: visible;
        }
    }
    #nav-hamburger{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 90px 5%;
        z-index: 50;
        opacity: 0;
        background: #16263e;
        transition: all 0.3s ease;
        visibility: hidden;
        ul{
            width: 90%;
            list-style-type: none;
            padding: 0;
            margin: 0;
            .nav-item{
                height: 55px;
                border-bottom: solid 1px #d1d5db;
                margin: 5px;
                a{
                    font-size: 17px;
                    font-weight: 600;
                    text-decoration: none;
                    color: #d1d5db;
                    height: 100%;
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

@media screen and (min-width:990px) { 
    .logo{
        span{
            font-size: 30px;
        }
        img{
            height: 50px;
        }
    }
    #header-nav ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        li.nav-item{
            margin: 0 25px;
        }
        a{
            width: auto;
            height: 60px;
            padding: 0 5px;
            margin: 2px 0;
            color: #333333;
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: color 0.4s ease;
            &::before{
                content: attr(data-title);
                color: #333333;
                font-size: 8px;
                position: absolute;
                top: 10px;
                transition: color 0.4s ease;
            }
            &::after{
                content: "";
                display: block;
                width: 0;
                height: 2px;
                position: absolute;
                bottom: 0;
                transition: all 0.4s ease;
            }
            &:hover,&:hover::before{
                color: #16263e;
            }
            &:hover::after{
                background-color: #16263e;
                width: 100%;
            }
        }
    }
    #header-hamburger{
        display: none;
    }
}

/* 全ページ共通のフッター */
footer{
    width: 100%;
    background-color: #16263e;
    
    .container{
        padding: 40px 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .footer-logo{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                display: flex;
                align-items: center;
                height: 40px;
                img{
                    height: 100%;
                    padding-right: 5px;
                }
                span{
                    font-size: 15px;
                    color: #d1d5db;
                    font-weight: 500;
                }
            }
        }
        .footer-nav{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            .page-nav{
                display: flex;
                .nav-container{
                    margin-right: 10vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    a{  
                        text-decoration: none;
                        color: #d1d5db;
                        font-size: 13px;
                        font-weight: 600;
                        margin-bottom: 15px;
                    }
                }
            }
            .other-nav{
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    li{
                        line-height: 1.5;
                        a{
                            text-decoration: none;
                            color: #d1d5db;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    small{
        font-size: 10px;
        color: #d1d5db;
        display: block;
        width: 95%;
        padding: 15px 0;
        margin: 0 auto;
        /* border-top: #ecf0f1 solid 1px; */
        text-align: center;
    }
}

/* indexのCSS */
#welcome{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/welcome_01.jpg');
    background-position: center;
    background-size: cover;
    &::before{
        content: '';
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 500px;
        background: rgba(255, 255, 255, 0.3);
        z-index: 0;
        overflow: hidden;
    }
    .welcome-message{
        display: block;
        z-index: 1;
        p{
            color: white;
            font-size: 13px;
            line-height: 1.3;
            text-align: center;
            text-shadow: 
            0 0 10px rgba(0, 0, 0, 0.7),
            0 0 20px rgba(0, 0, 0, 0.5),
            0 0 30px rgba(0, 0, 0, 0.3);
        }
        p.main{
            font-size: 30px;
            font-weight: 700;
        }
    }
}

.section-title{
    width: 100%;
    margin: 0 auto;
    padding: 10vh 0;
    .heading{
        p{
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.3;
            &::before{
                content: attr(data-title);
                font-size: 10px;
                font-weight: 100;
                display: flex;
                justify-content: center;
            }
        }
    }
    &:last-child{
        padding: 0;
    }
}
.content-container{
    div{
        p{
            line-height: 1.5;
            padding: 0 5px;
            padding-bottom: 20px;
        }
        .text{
            font-size: 22px;
            font-weight: 900;
            /* color: #16263e; */
        }
        .description{
            font-size: 13px;
        }
    }
}

button{
    font-size: 10px;
    color: white;
    cursor: pointer;
    border: solid 2px #e67e22;
    border-radius: 2px;
    background-color: #e67e22;
    width: 130px;
    padding: 10px;
    margin-top: 20px;
    transition: all 0.4s ease;
    &:hover{
        color: #e67e22;
        background-color: white;
    }
}

#about{
    background-image: url('../img/back_letter_01.png');
    background-position: center;
    background-size: cover;
    .container{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-container{
        width: 85%;
        height: auto;
        padding: 0 10px;
        text-align: center;
    }
    .img-container{
        width: 0%;
        img{
            width: 100%;
            height: 0;
        }
    }
}

:is(#service, #work, #about-container, #flow-section) .content-container{
    width: 85%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
#service{
    background-image: url('../img/back_letter_02.png');
    background-position: center;
    background-size: cover;
    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}
.service-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a{
        font-size: 30px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        text-decoration: none;
        width: 40vw;
        height: 300px;
        margin: 5px;
        div{
            margin: 15px 0 15px 10px;
            span{
                font-size: 15px;
                padding-right: 15px;
                text-decoration: underline;
            }
        }
    }
    .service-1-panel{
        background-image: url('../img/service_01.jpg');
        background-position: center;
        background-size: cover;
    }
    .service-2-panel{
        background-image: url('../img/service_02.jpg');
        background-position: center;
        background-size: cover;
    }
}
#work{
    background-image: url('../img/back_letter_03.png');
    background-position: center;
    background-size: cover;
    .work-row{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
.work-row{
    padding: 0 10px;
    margin-top: 50px;
    box-sizing: border-box; 
    display: flex;
    article{
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
        width: 100%;
        min-width: 230px;
        margin: 10px;
        box-sizing: border-box;
        .work-view{
            width: 100%;
            aspect-ratio: 1.618/1;
            background-color: #ecf0f1;
            padding: 10px;
            box-sizing: border-box; 
            >a{
                display: block;
                aspect-ratio: 16/10.5;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            h3{
                font-size: 18px;
                margin-top: 15px;
                min-height: 50px;
                a{
                    color: #333333;
                }
            }
            p{
                line-height: 1.5;
            }
        }
    }
}
#work, #news{
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
}

#news{
    background-image: url('../img/back_letter_04.png');
    background-position: center;
    background-size: cover;
}
.news-row{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    .news-article{
        border-top: 1px solid #b5b5b57f;
        &:last-child{
            border-bottom: 1px solid #b5b5b57f;
        }
        a{
            display: block;
            padding: 30px 0;
            .body{
                font-size: 13px;
                line-height: 1.4;
                color: #444;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .fa-arrow-right{
                    font-size: 13px;
                    margin-left: 10px;
                }
            }
        }
        &.aside-news{
            border: 1px solid #b5b5b57f;
            border-bottom: none;
            &:last-child{
                border-bottom: 1px solid #b5b5b57f;
            }
            a{
                padding: 15px;
            }
            .body{
                font-size: 13px;
                font-weight: 200;
                line-height: 1.5;
                color: #444;
            }
        }
    }
    .head{
        color: #333333;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;
        .news-tag{
            line-height: 1.5;
            color: white;
            border-radius: 3px;
            padding: 0 10px;
        }
        .info{
            background-color: #444;
        }
        .imp{
            background-color: #e45656;
        }
        .other{
            background-color: #4bd2ff;
        }
    }
}
.direct-form{
    width: 100%;
    .form-panel{
        display: flex;
        justify-content: center;
        align-items: center;
        >div, >a{
            height: 50vh;
            padding: 0 auto;
            box-sizing: border-box;
            display: flex;
        }
        >div{
            width: calc(100%/3*2);
            padding: 0 10%;
            background-image: 
                linear-gradient(to bottom, rgba(49, 49, 49, 0)0%, rgba(49, 49, 49, 0.6)100%),
                url('../img/contact_01.jpg');
            background-position: center;
            background-size: cover;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: #d1d5db;
            h2{
                font-size: 18px;
                font-weight: 600;
                line-height: 1.5;
                margin-bottom: 30px;
            }
            p{
                font-size: 10px;
                font-weight: 600;
                line-height: 1.5;
            }
        }
        a{
            width: calc(100%/3);
            color: #d1d5db;
            background-color: #0f1a2b;
            justify-content: center;
            align-items: center;
            div{
                margin: 0 10px;
                border-bottom: 2px solid #d1d5db;
            }
            span, i{
                display: inline;
                font-size: 10px;
                line-height: 1.5;
                padding: 10px 5px;
            }
        }
    }
}

@media screen and (min-width:660px) and (max-width:989px) {
    .direct-form{
        .form-panel{
            >div{
                h2{
                    font-size: 25px;
                }
            }
            a{
                span,i{
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (min-width:990px){
    /* Welcome section */
    #welcome{
        height: 90vh;
        &::before{
            position: absolute;
            top: 64px;
            left: 0;
            height: 90vh;
        }
        .welcome-message{    
            p{
                font-size: 20px;
            }
            p.main{
                font-size: 50px;
                font-weight: 700;
            }
        }
    }
    .section-title{
        width: 100%;
        padding: 10vh 10%;
        box-sizing: border-box;
        .heading{
            p{
                text-align: initial;
                font-size: 25px;
                position: relative;
                &::before{
                    content: attr(data-title);
                    font-size: 10px;
                    position: absolute;
                    top: 35px;
                }
            }
        }
    }
    /* AboutUs section */
    #about{
        .container{
            margin-top: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
        .content-container{
            max-width: 50%;
            height: auto;
            padding: 0 10px;
            text-align: start;
        }
        .img-container{
            width: auto;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    /* Service section */
    :is(#service, #work, #about-container, #flow-section) .content-container{
        width: 300px;
        margin: 0;
        margin-top: 60px;
        display: inline-block;
        text-align: start;
    }
    #service{
        .container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    .service-container{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        a{
            font-size: 50px;
            width: 50vw;
            height: 180px;
            margin: 0;
            div{
                margin: 15px 0 15px 70px;
            }
        }
    }
    /* News section */
    .news-row{
        width: 100%;
    }
    /* direct section */
    .direct-form{
        width: 100%;
        .form-panel{
            >div, >a{
                height: 65vh;
                padding: 0 auto;
                box-sizing: border-box;
                display: flex;
            }
            >div{
                h2{
                    font-size: 30px;
                    line-height: 1.5;
                    margin-bottom: 30px;
                }
                p{
                    font-size: 13px;
                    line-height: 1.5;
                }
            }
            a{
                div{
                    margin: 0 10px;
                }
                span, i{
                    display: inline;
                    font-size: 18px;
                    line-height: 1.5;
                    padding: 10px 20px;
                }
            }
        }
    }
}

.panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 37vw;
        aspect-ratio: 2/1;
        background-color: #d2f6f8;
        p{
            font-size: 40px;
            color: #444;
            margin: 0 0 15% 5%;
            position: relative;
            &::after{
                content: attr(data-title);
                font-size: 15px;
                position: absolute;
                top: 68px;
                left: 0;
            }
        }
    }
}

/* appealエリア */
.appeal{
    width: 100%;
    background-image:
        linear-gradient(rgba(49, 49, 49, 0.6) ,rgba(49, 49, 49, 0.6)),
        url('../img/about_top.jpg');
    background-position: center;
    background-size: cover;
    .title{
        color: #f0f4f8;
        height: 30vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 25px;
            margin-bottom: 15px;
        }
        p{
            font-size: 14px;
        }
    }
    .location{
        background-color: black;
        padding: 15px 0;
        padding-left: 10px;
        a, span{
            color: white;
        }
        a{
            font-weight: 100;
            span{
                padding: 0 10px;
            }
        }
        a~span{
            font-weight: 600;
            padding: 0 10px;
        }
    }
}
@media screen and (min-width:660px) and (max-width:989px) {
    .appeal{
        .title{
            height: 50vh;
            h1{
                font-size: 55px;
            }
            p{
                font-size: 14px;
            }
        }
    }
}
@media screen and (min-width:990px) {
    .appeal{
        .title{
            height: 50vh;
            margin-left: 10vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h1{
                font-size: 55px;
            }
            p{
                font-size: 14px;
            }
        }
        .location{
            padding-left: 10vw;
        }
    }
}
/* aboutのCSS */
.head-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        width: 80%;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 30px;
    }
    p{
        width: 90%;
        font-size: 13px;
        line-height: 1.5;
    }
}
#about-container{
    .heading{
        margin-top: 170px;
    }
    .dec-card{
        display: flex;
        justify-content: center;
        img{
            width: 35vw;
        }
    }
    .grid-container{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin: 50px auto;
        .grid-item{
            min-height: 200px;
            text-align: center;
            border: 1px solid #ccc;
            border-left: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px 30px;
            &:nth-child(even){
                border-right: none;
            }
            h3{
                font-size: 28px;
                color: #5790e7;
                margin-bottom: 10px;
            }
            p{
                font-size: 19px;
            }
            .line{
                font-size: 13px;
                color: #777;
                margin-top: 40px;
            }
        }
    }
}
@media screen and (min-width:660px) and (max-width:989px) {
    .head-text{
        h2{
            font-size: 24px;
        }
    }
}
@media screen and (min-width:990px) {
    .head-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h2{
            width: 60%;
            font-size: 24px;
        }
        p{
            width: 70%;
        }
    }
    #about-container{
        .grid-container{
            width: 100%;
        }
    }
}

/* .direct-service, .direct-work, .direct-contact{
    a{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 10vh;
        aspect-ratio: 4/1;
        background-color: #d2f6f8;

        p{
            font-size: 38px;
            color: #444;
            margin: 0 0 8% 5%;
            position: relative;

            &::after{
                content: attr(data-title);
                font-size: 13px;
                position: absolute;
                top: 50px;
                left: 0;

            }
        }
    }
} */

/* serviceのCSS */
#desc-service{
    width: 100%;
    padding: 10vh 0;
    .head-text{
        width: 80%;
        margin: 0 auto;
    }
}
.panel-section{
    margin: 15vh 0;
    .service{
        display: flex;
        > div{
            width: 50vw;
            min-height: 240px;
        }
        .text-box{
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #8699b6;
            h3, p, a{
                margin: 0 5%;
                color: #f0f4f8;
            }
            h3{
                font-size: 25px;
                line-height: 1.5;
            }
            p{  
                font-size: 10px;
                margin: 10px 5%;
            }
            .text{
                width: 80%;
            }
            a{
                font-weight: 600;
                i{
                    padding-left: 5px;
                }
            }
        }
        .box1{
            background-image: url('../img/service_number_01.png');
            background-position: right bottom;
            background-size: cover;
        }
        .box2{
            background-image: url('../img/service_number_02.png');
            background-position: right bottom;
            background-size: cover;
        }
    }
}
.flow-container{
    width: 90%;
    margin: 10vh auto;
    li{
        background-color: #d1d3d4;
        padding: 30px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        .left{
            font-size: 20px;
        }
        .right{
            padding-left: 10%;
            h3{
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
        span, h3, p{
            line-height: 1.5;
        }
    }
}
@media screen and (min-width:660px) and (max-width:989px) {
    .panel-section{
        .service{
            > div{
                aspect-ratio: 1.618/1;
            }
            .text-box{
                padding: 25px 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                h3, p, a{
                    margin: 0 10%;
                }
                h3{
                    font-size: 30px;
                }
                p{
                    font-size: 13px;
                    margin-bottom: 10%;
                }
            }
        }
    }
}
@media screen and (min-width:990px) {
    .panel-section{
        .service{
            > div{
                aspect-ratio: 1.618/1;
                padding: 5vh 0;
            }
            .text-box{
                padding: 30px 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                h3, p, a{
                    margin: 0 10%;
                }
                h3{
                    font-size: 40px;
                }
                p{
                    font-size: 16px;
                    margin-bottom: 15%;
                }
                .text{
                    width: 70%;
                }
            }
        }
    }
    .flow-container{
        width: 100%;
        li{
            .left{
                font-size: 26px;
            }    
        }
    }
}

/* service01のCSS */
#service-desc-section{
    .content-container{
        max-width: 60%;
        min-height: 70vh;
        position: relative;
        
        p{
            margin-bottom: 40px;
        }

        &::before{
            content: "";
            width: 80%;
            aspect-ratio: 1.618/1;
            background-color: #c8e2e3;
            position: absolute;
            top: 70px;
            left: calc(52/60*100%);
            z-index: -10;
        }

        &:nth-child(even){
            margin-left: 40%;
            &::before{
                left: calc(-40/60*100%);
            }
        }
    }
}

/* workのCSS */
#work-nav {
    display: none;
}
#work-nav-select {
    font-size: 16px;
    display: block;
    width: 50%;
    padding: 8px;
    margin: 100px auto 0;
}
@media (min-width: 660px) {
    #work-nav-select {
        display: none;
    }
    #work-nav{
        display: block;
        width: 90%;
        margin: 100px auto 0;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                width: 100%;
                a{
                    display: block;
                    text-align: center;
                    padding: 15px;
                    color: white;
                    opacity: 0.3;
                    transition: 0.25s;
                    &:hover{
                        opacity: 1;
                    }
                    &.active{
                        opacity: 1;
                    }
                }
                .all {
                    background-color: #16263e;
                }
                .service01 {
                    background-color: #577c92;
                }
                .service02 {
                    background-color: #a15a8b;
                }
                .service03 {
                    background-color: #b5844b;
                }
            }
        }
    }
}
#works-container{
    width: 80%;
    .work-row{
        width: 100%;      
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:660px){
    #works-container{
        article{
            flex: 1 1 calc(100% - 20px);
            max-width: calc(100% - 20px);
        }
    }
}
@media screen and (min-width:660px) and (max-width:989px) {
    #works-container{
        article{
            flex: 1 1 calc(50% - 20px);
            max-width: calc(50% - 20px);
        }
    }
}
@media screen and (min-width:990px) {
    #works-container{
        width: 100%;
        article{
            flex: 1 1 calc(33.33% - 20px);
            max-width: calc(33.33% - 20px);
        }
    }
}

/* work01のCSS */
.work-desc-container{
    width: 100%;
    background-color: #b5b5b57f;
    margin-top: 120px;
    padding: 10px 30px;
    box-sizing: border-box;
    
    >*{
        padding: 30px 0;
        border-bottom: 1px solid #adadad;
        font-size: 13px;
        line-height: 1.5;
    }

    h2{
        font-size: 20px;
    }

    a{
        display: block;
        margin-bottom: 30px;
    }

    dl{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        dt{
            width: 200px;
        }

        ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: 5px 30px;
        }
    }
}

.work-content{
    div{
        padding: 40px 30px;
        border-top: 1px solid #adadad;

        &:last-child{
            border-bottom: 1px solid #adadad;
        }

        h3{
            font-size: 18px;
            margin-bottom: 25px;
        }

        p{
            font-size: 13px;
            line-height: 1.5;
        }
    }

    .first{
        margin-top: 80px;
    }
}

/* companyのCSS */
#company-message{
    width: 80%;
    .container{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img{
        margin-bottom: 30px;
        img{
            width: 100%;
        }
    }
    .content-container{
        width: 100%;
        height: auto;
        .text{
            font-size: 15px;
        }
    }
}
@media screen and (min-width:990px) {
    #company-message{
        width: 100%;
        .container{
            margin-top: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        .img{
            width: 40%;
            margin-bottom: 0;
            img{
                width: 100%;
            }
        }
        .content-container{
            width: 50%;
            height: auto;
            .text{
                font-size: 18px;
            }
        }
    }
}

#company-data, #access{
    table{
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
        tr{
            border-top: #d6d6d6 solid 1px;
            &:last-child{
                border-bottom: #d6d6d6 solid 1px;
            }
            th, td{
                padding: 30px 0;
            }
            th{
                width: 200px;
                text-align: inherit;
            }
        }
    }
}
#access{
    .map{
        width: 60%;
        aspect-ratio: 1.5/1;
        margin: 100px auto 0 auto;
        iframe{
            width: 100%;
            aspect-ratio: 1.5/1;
        }
    }
    table{
        margin-top: 5px;
    }
}

/* newsのCSS */
#news-container{
    .news-row{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        .main{
            width: 90%;
            padding-bottom: 50px;
            box-sizing: border-box;
        }
        .aside{
            width: 90%;
            box-sizing: border-box;
        }
        .op-title{
            margin-bottom: 30px;
            position: relative;
            span{
                padding-left: 10px;
                display: block;
            }
            .en{
                font-size: 14px;
                line-height: 1.5;
            }
            .ja{
                font-size: 18px;
                font-weight: 600;
            }
            &::before{
                content: "";
                background-color: #444;
                width: 2px;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
@media screen and (min-width:990px) {
    #news-container{
        .news-row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap-reverse;
            .main{
                width: calc(100%/3*2);
                padding: 10px 0 10px 10px ;
            }
            .aside{
                width: calc(90%/3);
                padding: 10px 10px 10px 0;
            }
        }
    }
}

/* news01のCSS */
.news-content{
    h2{
        font-size: 20px;
    }

    img{
        margin: 80px 0;
    }

    p{
        font-size: 13px;
        line-height: 1.5;
        margin-bottom: 13px;
    }
}

/* ContactのCSS */