header{
    width: 100vw;
    height: 75px;
    background-color: rgba(44, 44, 44, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-left{
    padding-left: 10px;
}

#header-left > a{
    text-decoration: none;
    display: block;
}

#header-nav > ul{
    display: flex;
    justify-content: space-between;
}

li.nav-item{
    margin: 0 25px;
}

li.nav-item > a{
    color: rgb(231, 231, 231);
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0 5px;
    height: 70px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

li.nav-item > a::before{
    content: attr(data-title);
    font-size: 8px;
    position: absolute;
    top: 15px;
}

li.nav-item > a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease;
}

li.nav-item > a:hover::after{
    background-color: rgb(231, 231, 231);
    width: 100%;
}